﻿@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Assignment4.Models.Product>

@{
    ViewBag.Title = "Index";
}

<br />
<div class="panel panel-default">
    <div class="panel-heading"><bold>Search Here </bold></div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <p>
                  @Html.ActionLink("Export", "ExportSummary", 1)
                    
                    @using (@Html.BeginForm("Index", "Products", FormMethod.Get))
            {
                        @Html.RadioButton("searchOption", "Name", true) <text><bold>Name &nbsp; </bold></text>

                        @Html.RadioButton("searchOption", "Price") <text><bold>Price &nbsp;</bold></text>

                        @Html.RadioButton("searchOption", "Category")<text><bold>Category &nbsp; </bold></text>

                        @Html.RadioButton("searchOption", "Color")<text><bold>Color </bold></text>

                        @Html.RadioButton("searchOption", "Description")<text><bold>Descriptions &nbsp;</bold></text>
                        <br />
                        @Html.TextBox("searchQuery")
                        <input type="submit" value="Search" />
}
</p>
            </div>

        </div>

    </div>
</div>






<p>
    @Html.ActionLink("Create New", "Create")
</p>
<br />
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Product Name  ", "Index", new { sortby = ViewBag.SortByNameParameter })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().ProductDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Active)
        </th>
        <th>
            @Html.ActionLink("Product Price  ", "Index", new { sortby = ViewBag.SortByPriceParameter })
        </th>
        <th> Color </th>
        <th> Size  </th>
        <th> Dimension </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Category.CategoryName)
        </th>
        <th> Actions </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            @if ((item.OtherAttributes) != null)
            {
                System.Xml.Linq.XElement xdoc = System.Xml.Linq.XElement.Parse(item.OtherAttributes);
                IEnumerable<System.Xml.Linq.XElement> ProductAttr = xdoc.Elements();
                var attributes = from attr in ProductAttr
                                 select attr;
                foreach (var attribute in attributes)
                {
                    <td>
                        @Html.DisplayFor(modelItem => attribute.Attribute("Color").Value)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => attribute.Attribute("Size").Value)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => attribute.Attribute("Dimension").Value)
                    </td>

                }

            }
            else
            {
                <td>-</td>
                <td>-</td>
                <td>-</td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
                
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ProductId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProductId })
            </td>
        </tr>
    }

</table>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>Total  = @ViewBag.Total</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>



@Html.PagedListPager(Model, page => Url.Action("Index", new
{
    page,
    searchOption = Request.QueryString["searchOption"],
    searchQuery = Request.QueryString["searchQuery"]
}))